#totalWishlist {
  max-width: 1000px;
  margin: 20px auto;
}
.cart-loading {
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.carts-section {
  padding: 70px 0px;
}
.cart-container {
  max-width: 1000px;
  margin: 0 auto;
}
.cart {
  box-shadow: inset 2px -1px 1px 1px #f6f6f6;
  border: 1px solid #f6f6f6;
  margin: 8px 0;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
}
/* Staggered effect for multiple books */
.cart:nth-child(1) {
  animation-delay: 0.2s;
}
.cart:nth-child(2) {
  animation-delay: 0.4s;
}
.cart:nth-child(3) {
  animation-delay: 0.6s;
}
.cart .cart-title,
.cart-author,
h4 {
  width: 35%;
  text-align: center;
}

.cart h4:first-child {
  width: 100px;
}
.cart h4:last-child {
  width: 100px;
}
.cart-img {
  width: 100px;
}

.cart-id {
  width: 100px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(87, 87, 87);
}

.remove-cart {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  color: red;
  cursor: pointer;
  transition: 0.1s;
}
.remove-cart:hover {
  color: rgb(167, 0, 0);
}

/* wishlist animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 576px) {
  .cart-title {
    width: 25%;
    font-size: 14px;
  }
  .cart-author {
    width: 25%;
    font-size: 12px;
  }
  .cart .cart-id {
    width: 50px;
    font-size: 16px;
  }
  .cart-img {
    max-width: 50px;
  }
}
