body {
  font-family: Arial, Helvetica, sans-serif;
}
.books-section {
  padding: 60px 100px;
}

.search-and-filter {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.book-filter {
  width: 200px;
  height: 45px;
  margin-right: 10px;
  padding: 8px;
  outline: none;
}
.search-books {
  width: 250px;
  display: flex;
}
.search-books button {
  padding: 0 10px;
  cursor: pointer;
  background-color: #414141;
  color: white;
}
.search-books .search {
  width: 100%;
  padding: 12px;
  outline: none;
}

/* loading */
.books-loading {
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 90vh;
}

/* books container and cards */
.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.book-card {
  width: 300px;
  box-shadow: 0px 2px 2px 3px #e3e3e3;
  padding-bottom: 50px;
  border-radius: 10px;
  position: relative;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleIn 0.8s ease-out forwards;
}
.book-card:hover {
  background-color: rgb(236, 236, 236);
  transition: 0.3s;
  cursor: pointer;
}
.book-img {
  display: block;
  width: 120px;
  height: 150px;
  margin: 0 auto;
  transition: 0.3s;
}
.book-card:hover img {
  scale: 1.1;
}
.book-id {
  font-weight: 600;
  margin: 0;
  color: #414141;
}
.book-info {
  padding: 20px;
  height: auto;
}
.book-info p {
  margin: 8px 0;
}
.book-title {
  font-size: 16px;
  margin: 2px 0;
}
.genres {
  font-size: 14px;
}

.cart-btn {
  display: block;
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
  font-size: 35px;
  cursor: pointer;
  color: red;
  transition: 0.3s;
  position: absolute;
  bottom: 16px;
  right: 43%;
}

.cart-btn:hover {
  color: white;
  background-color: red;
}

.book-card .book-img {
  margin: 15px auto;
  box-shadow: -1px 3px 3px 1px #a3a3a3;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  background: #000000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* book animation */
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* responsive desing */
@media only screen and (max-width: 667px) {
  .books-section {
    padding: 60px 20px;
  }
  .search-and-filter {
    justify-content: center;
  }
  .book-filter {
    width: 45%;
  }
  .search-books {
    width: 45%;
  }
}
